In [1]:
#    Q1.  Create a python program to sort the given list of tuples based on integer value using a lambda function.
#      [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

li=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
li.sort(key=lambda x:x[1],reverse=True)
print(li)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [5]:
#      Q2.  Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
#           [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
li=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
square=list(map(lambda x:x**2,li))                   # Here we typecast because map will provide map formet which can not print the output 
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
#       Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions 
#           Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#           Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
li_in=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
li_st=[]
st= tuple(map(lambda x:str(x),li_in))
print(st)    

#  here this give the values one by one we can directly convert by using lambda only but it give output like "(1,2,3,4,5,6,7,8,9,10)" 
#   but for required output we need map which gives the li_in list in one by one manner.

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [79]:
#   Write a python program using reduce function to compute the product of a list containing numbersfrom 1 to 25.
from functools import reduce
li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
a=1
def pro(lp):
 global a
 a=a*lp
 return a   
a=list(map(pro,li))
print (a[24])

15511210043330985984000000

In [92]:
# Filter function usage. 

li=['python', 'php', 'aba', 'radar', 'level']
j="".join(li)
print(' "".join function join like:"',j)
is_palindrome=list(filter(lambda x: x== "".join(x[::-1]), li))
print(is_palindrome)





# this   "".join function is join al, the sytring of list as "pythonphpaba"

 "".join function join like:" pythonphpabaradarlevel
['php', 'aba', 'radar', 'level']

In [98]:
#   Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using thefilter function.

li=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
ass=list(filter(lambda x:x%2  x%3==0,li))
print(ass)

SyntaxError: invalid syntax (1087345440.py, line 4)